{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "babel-plugin-styled-components",
      {
        "pure": true,
        "ssr": true
      }
    ],
    [
      "module-resolver",
      {
        "alias":  {
          "api": "./src/api",
          "client": "./src/client/",
          "routes": "./src/routes/",
          "static": "./src/static/",
          "store": "./src/store/"
        }
      }
    ]
  ]
}